<div class="modal fade" id="globalAppModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modern-modal">
            <div class="modal-header border-0">
                <h5 id="globalModalTitle" class="modal-title">Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div id="globalModalBody" class="modal-body">
            </div>
        </div>
    </div>
</div>